@import 'node_modules/@bbva-web-components/bbva-foundations-sass/main';

.container-page {
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 48px);
  background-color: white;
}

bbva-foundations-spinner {
  background-color: #004481;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.hide {
  display: none;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 15px;

  .form {
    width: 500px;

    * {
      margin-bottom: 5px;
    }

    bbva-web-button-default {
      width: 100%;
    }

    h2 {
      font-weight: lighter;
      color: #000;
      border-bottom: 1px solid #e1e1e1;
      margin-bottom: 10px;
      padding-bottom: 5px;
      font-size: 1.35em;
    }
  }

  .response {
    width: calc(100% - 535px);
    textarea {
      width: calc(100% - 30px);
      height: calc(-105px + 100vh);
      background-color: rgb(41, 45, 62);
      margin: 15px;
      resize: none;
      color: #ce93d8;
      outline: none;
      padding: 10px;
      font-size: 1.2em;
    }
  }

}